body {
    margin: 20px;
    background: #27272b;
}

.description {
    font-size: 24px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.field-label {
    color: #fff
}

.field-input {
    color: #27272b;
    width: 100%;
    height: 100px;
}

.space {
    padding: 20px 0;
}

.action-button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    box-sizing: border-box;
    background: #999;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
}
